<tr>
  <td><%= number_order question_counter %></td>
  <td><%= question.content %></td>
  <td><%= question.subject.name %></td>
  <td>
    <span class="label label-primary">
      <%= t "question_type.#{question.question_type}"%>
    </span>
  </td>
  <td>
    <span class="label label-<%= css_class question.state %>">
      <%= t "question_type.#{question.state}"%>
    </span>
  </td>
  <td>
    <%= link_to t("edit"), edit_user_question_path(current_user, question) %>
  </td>
  <td><%= link_to t("delete"), user_question_path(current_user, question),
    method: :delete, data: {confirm: t("confirm")} %></td>
</tr>
