<div class="col-md-10 col-md-offset-1">
  <%= simple_form_for @exam, html: {id: "form_example"} do |f| %>
    <ol>
      <%= f.fields_for :results do |results_field| %>
        <li><h3><%= results_field.object.question.content %></h3></li>
        <ul>
          <% if results_field.object.question.multiple_choice? %>
            <%= results_field.fields_for :results_answers do |rs| %>
              <li>
                <label class="checkbox-inline">
                  <% if rs.object.persisted? %>
                    <%= rs.check_box :_destroy,
                      {checked: true, disabled: @exam.is_finished?}, 0, 1 %>
                  <% else %>
                    <%= rs.check_box :answer_id,
                      {checked: false, disabled: @exam.is_finished?},
                      rs.object.answer.id, nil %>
                  <% end %>
                  <%= rs.object.answer.content %>
                </label>
              </li>
            <% end %>
          <% elsif results_field.object.question.text? %>
            <%= f.input :answer_id, as: :text %>
          <% else %>
            <% results_field.object.question.answers.each do |answer| %>
              <li>
                <label class="radio-inline">
                  <%= results_field.radio_button :answer_id, answer.id,
                    disabled: @exam.is_finished? %>
                  <%= answer.content %>
                </label>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ol>
    <% unless @exam.is_finished? %>
      <%= f.button :submit, t("save"),
        class: "btn btn-primary save_button" %>
      <%= f.button :submit, t("finish"),
        class: "btn btn-danger btn-submit finish_button",
        data: {confirm: t("confirm_message")} %>
    <% end %>
  <% end %>
</div>
