<table class="table">
  <thead>
    <tr>
      <th><%= t "index" %></th>
      <th><%= t "created_at" %></th>
      <th><%= t "subject" %></th>
      <th><%= t "status" %></th>
      <th><%= t "duration" %></th>
      <th><%= t "question_number" %></th>
      <th><%= t "spent_time" %></th>
      <th><%= t "score" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each_with_index do |exam, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <%= exam.created_at %>
        </td>
        <td><%= exam.subject.name %></td>
        <td>
          <span class="label label-<%= check_state_for_span exam.state %>">
            <%= exam.state %>
          </span></td>
        <td><%= exam.subject.duration %></td>
        <td><%= exam.subject.number_of_questions %></td>
        <td>
          <%= Time.at(exam.spent_time)
            .utc.strftime(I18n.t "time.formats.mytime") %>
        </td>
        <td>
          <% if exam.checked? %>
            <%= "#{exam.number_of_correct}
              #{t"result"} #{exam.subject.number_of_questions}" %>
          <% else %>
            <%= t "hide" %>
          <% end %>
        </td>
        <td>
          <% if exam.start? %>
            <%= button_to t("start"), exam_path(exam), method: :get,
              class: "btn btn-primary" %>
          <% else %>
            <%= button_to t("view"), exam_path(exam), method: :get,
              class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
